<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

    <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/all.min.css' %}"/>

    <!-- Icons -->
    <link href="{% static 'icons/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% block content %}

{% endblock content %}

{% include 'mainapp/include/footer.html' %}

<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

<!-- Icons -->
<script src="{% static 'icons/all.min.js' %}"></script>

</body>
</html>